@font-face {
    font-family: 'Garet';
    src: url('../fonts/Garet-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../fonts/Garet-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1.2%;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.2%;
}

.title {
    font-family: 'Garet', sans-serif;
    font-weight: bolder;
}

code {
    font-family: "Consolas", monospace;
    font-size: inherit;
  }
  
  /* Code in text */
  span > code,
  p > code,
  li > code,
  dd > code,
  td > code {
    word-wrap: break-word;
    background: #5a5c9050;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
  }

.code-block
{
    background: #5a5c9050;
    border-radius: 4px;
}